@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-bg: #283618;
    --color-bg2: #606c38;
    --color-white: #fefae0;
    --color-green: #90a955;
    --color-green2: #4f772d;
    --color-red: rgb(184, 40, 35);
    --color-red2: rgb(146, 22, 17);
}

body {
    background-color: var(--color-bg2);
    color: var(--color-white);
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}

.container {
    text-align: center;
    background-color: var(--color-bg);
    width: 450px;
    max-width: 90%;
    padding: 1.5rem;
    border-radius: 1rem;
}

button{
    background-color: transparent;
    border: none;
}

h1{
    margin: 15px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.content-add-item{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

#input-new-task, 
#btn-new-task{
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

#input-new-task{
    width: 20rem;
    border-radius: 1rem;
}

#btn-new-task{
    background-color: var(--color-bg2);
    color: var(--color-white);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .4s;
}

#btn-new-task:hover{
    background-color: #bc6c25; 
}

#to-do-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

#to-do-list li{
    list-style: none;
    font-size: 1.3rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}

.bi-check-lg{
    background-color: var(--color-green);
    color: var(--color-white);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: .4s;
}

.bi-check-lg:hover{
    background-color: var(--color-green2);
}

